<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>3</ApplicationRevision>
    <ApplicationVersion>4.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <ProductName>WIN TC</ProductName>
    <PublisherName>Lider IT Consulting</PublisherName>
    <SupportUrl>https://www.liderit.es/</SupportUrl>
    <TargetCulture>es</TargetCulture>
    <TrustUrlParameters>False</TrustUrlParameters>
    <UseApplicationTrust>False</UseApplicationTrust>
    <History>True|2023-03-09T16:02:17.0792529Z;True|2023-03-09T16:30:38.3774829+01:00;True|2023-03-06T11:03:24.8572051+01:00;True|2023-02-09T12:39:53.9824054+01:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>True</Install>
      <ProductName>Entorno de ejecución de escritorio de .NET 6.0.14 (x64)</ProductName>
    </BootstrapperPackage>
    <BootstrapperPackage Include="segoemdl2">
      <Install>True</Install>
      <ProductName>Fuente SegoeMDL2</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>